<div class="card login-card1" style="width: 25rem;">
  <div class="tracker">
    <h2>My Progress</h2>
  
<div class>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Daily Weight:</label>
    <div class="col-sm-10">
      {{! need help to make password appear as *** only }}
      <input
        type="text"
        readonly
        class="form-control-plaintext"
        id="staticEmail"
        value="{{daily_weight}} lbs"
      />
    </div>
  </div>
</div>
  <div class="datecontainer">
    <div class="row">
      <label>Date:</label>
      <input
        type="text"
        class="datepicker-13"
        value="{{date}}"
      />
    </div>
  </div>
  <div class="report-table">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Weight</th>
        <th scope="col">Edit</th>
      </tr>
      </thead>
      {{#each progresses as |progress|}}
      <tr tracker_id="{{progress.id}}">
        <td>{{format_date progress.track_date}}</td>
        <td>{{progress.daily_weight}}</td>
        <td>Edit</td>
      </tr>
      {{/each}}
    </table>
  </div>
</div>
</div>

<script src="/js/tracker.js"></script>